/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


// @import "~material-icons/iconfont/material-icons.css";
*{
    font-family: 'Halis R';
    font-style: normal;
}
.background{
    // height: 100vh;
    background-image: url("Assets/Web/Icons/Desktop - 1background.png");
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0%;
}

.navBar{
    height: 73px; 
    border-bottom: 1px solid #EFEFEF;
    
}
.navBarItems{
    // background-color: rebeccapurple;
    width: 280px;
    height: 50px;
}
.navBarItems-xs{
    // background-color: rebeccapurple;
    height: 50px;
}
.navBarButton{
    border: 1px solid #E9651F; 
    color: #DD601E; 
    border-radius: 24px;
    background: rgba(221, 96, 30, 0.12);
    padding: 2px 10px;
}
.footerNextButton{
    background: rgba(233, 101, 31, 0.65);
    color: white;
    border-radius: 24px;
    padding: 2px 10px;
}
.fullWidth{
    width: 100%;
}
.marginTop100{
    margin-top: 100px;
}
.marginBottom50{
    margin-bottom:50px ;
    }
.marginTop50{
    margin-top: 50px;
}
.marginBottom100{
    margin-bottom:100px ;
}
.marginRight35{
    margin-right: 35px;
}
.whiteBackground{
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-top: 50px;
}
.marginTop20{
    margin-top: 20px;
}
.marginBottom20{
    margin-bottom: 20px;
}
.scroll{
    overflow-y: hidden;
    overflow-x: scroll;
    width:100%;
}
.footer{
    border-top: 1px solid #EFEFEF;
}
.footerHeight{
    height: 65px;
}
.disclaimerheading{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #5E5873;
}
.disclaimerText{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B9B9C3;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #DD601E;
    color: #fff;
}

.mat-form-field-flex {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    // width: 320px !important;
    height: 50px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(216, 214, 222, 1);
}
.mat-calendar-body-selected{
    background-color: #DD601E !important;
    color: white;
}

// .routerOutletsDiv{
//     // background-color: purple; 
//     height: fit-content;
// }





.welcomeToWoligoText{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #5E5873;
}
.provideYourInformationToRegisterText{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6E6B7B;
}
.inputMessageText{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #5E5873;
    .asterix{
        color: rgba(234, 84, 85, 1);
    }
}
.mat-form-field-wrapper {
    padding-bottom: 0em;
}
.genderBoarder{
    border: 1px solid #D8D6DE;
    border-radius: 5px;
    width: 204px;
    padding: 8px 16px;
    .genderText{
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #4B4B4B;
}
}
.width204px{
    width: 204px;
}
.alreadyHaveAnAccountText{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6E6B7B;
}
.loginText{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #0D6EFD;
}
.nextButton{
    align-items: center;
    padding: 13px 28px;
    gap: 8px;
    color: white;
    background: rgba(233, 101, 31, 0.65);
    border-radius: 24px !important;
}


.mat-form-field-appearance-outline .mat-form-field-infix {
    // padding: 0em 0 -1em 0 !important;
    padding: 7px 0px !important;
    
}



.mat-input-element {
    caret-color: #DD601E !important;
}
.mainBox{
    position:relative;
}
.topLeftBGImage{
    position: absolute;
    top: 10px;
    left: 0px;
}
.bottomLeftBGImage{
    position: absolute;
    bottom: -120px;
    left: 0px;
}
.topRightBGImage{
    position: absolute;
    top: 20px;
    right: 0px;
}
.bottomRightBGImage{
    position: absolute;
    bottom: 10px;
    right: 0px;
}