<div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="181px" fxLayoutAlign="start center" [fxShow]="true">
    <mat-icon class="bodyIcons">home</mat-icon>
    <div>
      <p class="bodyText">How can we help you?</p>
    </div>
    <mat-checkbox [required]="false"></mat-checkbox>
  </div>
  <div fxLayout="column wrap" fxFlex="181px" fxLayoutAlign="start center" [fxShow]="true">
    <mat-icon class="bodyIcons">home</mat-icon>
    <div>
      <p class="bodyText">How can we help you?</p>
    </div>
    <mat-checkbox [required]="false"></mat-checkbox>
  </div>
  <div fxLayout="column wrap" fxFlex="181px" fxLayoutAlign="start center" [fxShow]="true">
    <mat-icon class="bodyIcons">home</mat-icon>
    <div>
      <p class="bodyText">How can we help you?</p>
    </div>
    <mat-checkbox [required]="false"></mat-checkbox>
  </div>
  <div fxLayout="column wrap" fxFlex="181px" fxLayoutAlign="start center" [fxShow]="true">
    <mat-icon class="bodyIcons">home</mat-icon>
    <div>
      <p class="bodyText">How can we help you?</p>
    </div>
    <mat-checkbox [required]="false"></mat-checkbox>
  </div>
</div>