<div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
        <div>
          <p class="datePickerText">What was your gender at birth?</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start center" [fxShow]="true">
            <mat-icon class="bodyIcons">home</mat-icon>
            <div>
              <p>Gender</p>
            </div>
            <mat-radio-button [required]="false"></mat-radio-button>
          </div>
          <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start center" [fxShow]="true">
            <mat-icon class="bodyIcons">home</mat-icon>
            <div>
              <p>Gender</p>
            </div>
            <mat-radio-button [required]="false"></mat-radio-button>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
        <div>
          <p class="datePickerText">Are you looking maternity coverage?</p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start center" [fxShow]="true">
            <div>
              <p>Yes</p>
            </div>
            <mat-radio-button [required]="false"></mat-radio-button>
          </div>
          <div fxLayout="column wrap" fxLayoutGap="10px" fxLayoutAlign="start center" [fxShow]="true">
            <div>
              <p>No</p>
            </div>
            <mat-radio-button [required]="false"></mat-radio-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>