<div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
    <div>
      <p class="datePickerText">What is your monthly gross income?</p>
    </div>
    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
      <input matInput placeholder="Enter your income" [required]="false">

    </mat-form-field>
  </div>
</div>