<div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div>
          <p class="datePickerText">What is your occupation?</p>
        </div>
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
          <mat-select placeholder="Select your occupation" [required]="false">
            <ng-template ngFor let-option [ngForOf] let-i="index">
              <mat-option [value]></mat-option>
            </ng-template>
          </mat-select>

        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" class="cantFindOccupationBoxMarginTop fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start end" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <mat-icon class="cantFindOccupationIcon" color="#1273A2">help_outline</mat-icon>
          <div>
            <p style="font-size: 17px; font-weight: 500; line-height: 20.8px;">Can&apos;t find your occupation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>