<div fxLayout="row wrap" class="marginBottom50 fullWidth" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
    <div>
      <p class="datePickerText">What province do you reside in?</p>
    </div>
    <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
      <mat-select placeholder="Select your province" [required]="false">
        <mat-option [value]="&apos;westernCape&apos;" disabled="false">Western Cape</mat-option>
        <mat-option [value]="&apos;mpumalanga&apos;" disabled="false">Mpumalanga</mat-option>
        <mat-option [value]="&apos;northWest&apos;" disabled="false">North West</mat-option>
        <mat-option [value]="&apos;freeState&apos;" disabled="false">Free State</mat-option>
        <mat-option [value]="&apos;northernCape&apos;" disabled="false">Northern Cape</mat-option>
        <mat-option [value]="&apos;limpopo&apos;" disabled="false">Limpopo</mat-option>
        <mat-option [value]="&apos;easternCape&apos;" disabled="false">Eastern Cape</mat-option>
        <mat-option [value]="&apos;gauteng&apos;" disabled="false">Gauteng</mat-option>
        <mat-option [value]="&apos;kzn&apos;" disabled="false">Kwazulu-Natal</mat-option>
      </mat-select>

    </mat-form-field>
  </div>
</div>